<style>
#report_eggs table{
width: 100%;
border-collapse: collapse;
border: 2px solid black;
}
#report_eggs table tr{
border: 2px solid black;
}
#report_eggs table tr td{
border: 2px solid black;
text-align:center;
padding:4px;
}
#report_eggs table tr td:first-child { text-align: left !important; }
#report_eggs table tr td:last-child { width:10%; }
@media print {
   * { color: black; background: white; }
   table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
   #report_eggs table { font-size: 80%; }
   #report_eggs table{
	width: 100%;
	border-collapse: collapse;
	border: 2px solid black;
	}
	#report_eggs table tr{
	border: 2px solid black;
	}
	#report_eggs table tr td{
	border: 2px solid black;
	text-align:center;
	padding:4px;
	}
	#report_eggs table tr td:first-child { text-align: left !important; }
	#report_eggs table tr td:last-child { width:10%; }
} 
</style>
<div id="report_eggs" >
<p>
<div style="width: 86%;    font-size: 20px;    font-weight: bold;    float: left;    padding-bottom: 10px;">
{% if(company){  %}
&nbsp;&nbsp;&nbsp;&nbsp;{{company}} 
{%  }  %}
</div>
<div style="width: 13%;    font-size: 20px;    font-weight: bold;    float: left;    text-align: end;    padding-bottom: 10px;">
{{posted_on}} </div></p>
<br><br>
<p>Daily Loading per Area</p>
<table>
	<tr><td>Area</td> 
		{% for wer in warehouse %}
        <td style="width:20%">{{wer}}</td>
		{% endfor %}
	</tr>
	<tr><td>Total</td>
		
		{% for wert in daily_load_tot %}
		
        <td style="width:20%">{{wert}} Ctn</td>
		{% endfor %}

	</tr>
	<tr><td>Grand total</td><td colspan="4">{{daily_load_gtot}} Ctn</td></tr>
</table>
<br><br>
<p>PER SKU Loading</p>
<table>
	<tr><td>Categories</td> 
		{% for wer in warehouse %}
        <td style="width:20%">{{wer}}</td>
		{% endfor %}
	</tr>
	{% for wert in store_items %}
	<tr>
		{% for wei in wert %}
        <td style="width:20%">{{wei}} </td>
		{% endfor %}
	</tr>
	{% endfor %}
	
</table>

<br><br>
<p>EGG Stock Daily Inventory</p>

<table>
	<tr><td>Area</td>
		<td>FARM</td> 
		{% for wer in stwarehouses %}
        <td style="width:16%">{{wer.name}}</td>
		{% endfor %}
	</tr>
	<tr><td>Total</td>
		{% for wert in daily_stock_tot %}
        <td style="width:16%">{{wert}} Ctn</td>
		{% endfor %}
	</tr>
	
</table>
<br><br>
<p>PER SKU Stock</p>
<table>
	<tr><td>Categories</td> 
		<td>FARM</td>
		{% for wer in stwarehouses %}
        <td style="width:16%">{{wer.name}}</td>
		{% endfor %}
	</tr>
	{% for wert in daily_stock %}
	<tr>
		{% for wei in wert %}
        <td style="width:16%">{{wei}} </td>
		{% endfor %}
	</tr>
	{% endfor %}
	
</table>


 
</div>
    